*{
	margin:0;
}
body{
	font-family: lato;
}
header{
	background-color: #86c6b6;
	padding: 10px 30px;
	height: 180px;
}
.container{
	width: 800px;
	margin: auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.row{
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 40px;
}
.rellenoV{
	background-color: #64C7B6;
	padding: 5px;
}

.rellenoT{
	background-color: #DBF1EC;
	padding: 5px;
}
.marcB{
	margin-bottom: 5px;
}
.sinrelleno{
	padding: 5px;
}
.marc {
	padding: 5px;
}
.marc li{
	color:gray;
}
span{
	color:white;
}

.personal-information{
	float: left;
}

.personal-information, .personal-information a{
	color: #ffffff;
}
.personal-information h1{
	margin-top: 20px;
	margin-bottom: 10px;
}
.personal-information h2{
	margin-top: 10px;
	margin-bottom: 0px;
}
.personal-information h3{
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
.profile{
	position: relative;
}

.profile i{
	background-color: #86C6B6;
	border: 3px solid #000000;
	border-color: #ffffff;
	color: white;
	border-radius: 200px;
	display: inline-block;
	font-size: 150px;
	padding:30px 33px;
	position: absolute;
	top: 0;
	right: 0;
}
.target{
	width: 50%;
	padding-top: 20px;
}
.target h4{
	color: gray;
	font-family: italic;
}
.cir{
	color: #59957E
}

.title{
	color:#328574;
	padding-right: 10px;

}

.academic, .work, .complementary, .project, .language{
	width: 48%;
	text-align: right;
}
.academic li, .work li, .complementary li, .project li, .language li{
	list-style-type: none;
}

.work li.rellenoV{
	color: #ffffff;	
}
